<h1><%= @business.name %></h1>

<%= form_tag(@form_url, method: @form_method) do %>
    <%= hidden_field_tag "business_id", @business.id %>
    <% if @service.nil? %>
        <%= select_tag("service_id", options_from_collection_for_select(@services, "id", "name")) %>
    <% else %>
        <%= hidden_field_tag "service_id", @service.id %>
    <% end %>
    <% if @technician.nil? && !@service.nil? %>
        <%= select_tag "technician_id", options_from_collection_for_select(@technicians, "id", "name") %>
    <% elsif !@technician.nil? %>
        <%= hidden_field_tag "technician_id", @technician.id %>
    <% end %>
    <% if !@offer.nil? %>
        Time: <%= select_tag "time_id", options_from_collection_for_select(@availability, "id", "readable") %>
        Name: <%= text_field_tag "client_name" %>
        Phone number: <%= number_field_tag "client_number" %>
        Email address: <%= text_field_tag "client_email" %>
    <% end %>
    <%= submit_tag "Next" %>
<% end %>
