<div><%= flash[:notice] %></div>

<h1>Your appointment is confirmed!</h1>

<div>
    <ul>
        <li>Your appointment for <strong><%= @client.name %></strong></li>
        <li>at <strong><%= @business.name %></strong> in <strong><%= @business.location %></strong></li>
        <li>for <strong><%= @service.name %></strong> with <strong><%= @technician.name %></strong></li>
        <li>has been scheduled for <strong><%= @appointment.readable_time %></strong>.</li>
        <li>We'll email <strong><%= @client.email %></strong> or text <strong><%= @client.number %></strong> with updates.</li>
    </ul>
<div>

<div>
    <%= @qrcode.html_safe %>
<div>

<%= link_to "Add to Calendar", "#{appointment_path(@appointment)}/calendar" %>
<%= button_to "Cancel your appointment", @appointment, method: :delete %>