<h1>Your appointment is confirmed!</h1>

<%= flash[:notice] %>


<ul>
    <li>Your name: <%=@appointment.client.name%></li>
    <li>Business: <%=@appointment.offer.technician.business.name%></li>
    <li>Service: <%=@appointment.offer.service.name%></li>
    <li>Technician: <%=@appointment.offer.technician.name%></li>
    <li>Time: <%=@appointment.readable_time%></li>
</ul>

<div>
    <%= @qrcode.html_safe %>
<div>

<a href=<%="#{appointment_path(@appointment)}/calendar"%>>Download appointment</a>

<%= button_to "Cancel your appointment", @appointment, method: :delete %>