<!DOCTYPE html>
<html>
  <head>
    <title>OmniPoint: Schedule Appointments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
          </div>
          <div class="column is-6 has-text-centered">
            <a href="/">
              <img src=<%= image_url('logo.png') %> alt="site logo" style="max-height: 70px"/>
              <h1 class="title is-size-1">OmniPoint</h1>
            </a>
            <hr/>
            <%= yield %>
          </div>
          <div class="column is-3">
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
